@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lilita+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  display: inline-block;
  animation: rotate 1s linear infinite;
}
